# Wine type prediction

In [21]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter
from sklearn import model_selection,linear_model

In [56]:
winedataset = pd.read_csv("winequalityN.csv").dropna()
winedataset

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6491,red,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [57]:
winedataset.groupby("type").size()

type
red      1593
white    4870
dtype: int64

Since these two sample size have a large difference therefore I will force these two difference types have the same sample size. which I will random select 1599 white wine sample from the 4898 samples

In [58]:
index = random.sample(list(range(0,4870,1)),1593)
white = winedataset[winedataset.type == "white"].iloc[index]
white
red = winedataset[winedataset.type == "red"]
red

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4898,red,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
4899,red,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
4900,red,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
4901,red,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4902,red,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6491,red,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [72]:
finaldata = pd.concat([white,red])
finaldata

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1486,white,6.2,0.150,0.49,0.9,0.033,17.0,51.0,0.99320,3.30,0.70,9.4,6
1503,white,6.8,0.360,0.24,4.6,0.039,24.0,124.0,0.99090,3.27,0.34,12.6,7
217,white,5.8,0.260,0.24,9.2,0.044,55.0,152.0,0.99610,3.31,0.38,9.4,5
2253,white,6.3,0.270,0.18,7.7,0.048,45.0,186.0,0.99620,3.23,0.47,9.0,5
1142,white,9.2,0.280,0.46,3.2,0.058,39.0,133.0,0.99600,3.14,0.58,9.5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6491,red,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [73]:
y = finaldata["type"]
trainx, testx,trainy,testy = model_selection.train_test_split(finaldata,y,test_size = 0.3)
trainx = trainx.drop(columns = "type")
testx = testx.drop(columns = "type")

In [74]:
trainx

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
5747,6.4,0.630,0.21,1.60,0.080,12.0,32.0,0.99689,3.58,0.66,9.8,5
5865,8.5,0.660,0.20,2.10,0.097,23.0,113.0,0.99733,3.13,0.48,9.2,5
5586,7.7,0.660,0.04,1.60,0.039,4.0,9.0,0.99620,3.40,0.47,9.4,5
5200,8.3,0.705,0.12,2.60,0.092,12.0,28.0,0.99940,3.51,0.72,10.0,5
3894,5.9,0.435,0.16,6.40,0.031,21.0,134.0,0.99151,3.24,0.46,12.2,6
...,...,...,...,...,...,...,...,...,...,...,...,...
5098,9.6,0.320,0.47,1.40,0.056,9.0,24.0,0.99695,3.22,0.82,10.3,7
6336,7.0,0.590,0.00,1.70,0.052,3.0,8.0,0.99600,3.41,0.47,10.3,5
1823,7.3,0.190,0.24,6.30,0.054,34.0,231.0,0.99640,3.36,0.54,10.0,6
3221,6.6,0.240,0.38,12.75,0.034,8.0,74.0,0.99386,3.10,0.57,12.9,6
2208,7.1,0.260,0.30,2.00,0.031,13.0,128.0,0.99170,3.19,0.49,11.4,5

In [80]:
trainy = pd.get_dummies(trainy)

In [106]:
trainy = trainy.drop(columns = "red")

KeyError: "['red'] not found in axis"

In [107]:
trainy

      white
5747      0
5865      0
5586      0
5200      0
3894      1
...     ...
5098      0
6336      0
1823      1
3221      1
2208      1

[2230 rows x 1 columns]

In [76]:
testx

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
2941,7.2,0.30,0.30,8.7,0.022,14.0,111.0,0.99576,3.11,0.61,10.6,5
5143,7.3,0.66,0.00,2.0,0.084,6.0,23.0,0.99830,3.61,0.96,9.9,6
1021,8.6,0.20,0.42,1.5,0.041,35.0,125.0,0.99250,3.11,0.49,11.4,7
1082,6.3,0.27,0.25,5.8,0.038,52.0,155.0,0.99500,3.28,0.38,9.4,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
5495,11.9,0.58,0.58,1.9,0.071,5.0,18.0,0.99800,3.09,0.63,10.0,6
6346,6.9,0.58,0.01,1.9,0.080,40.0,54.0,0.99683,3.40,0.73,9.7,5
3479,5.9,0.32,0.28,4.7,0.039,34.0,94.0,0.98964,3.22,0.57,13.1,7
5855,9.5,0.37,0.52,2.0,0.088,12.0,51.0,0.99613,3.29,0.58,11.1,6
1499,6.7,0.51,0.24,2.1,0.043,14.0,155.0,0.99040,3.22,0.60,13.0,6

In [92]:
testy = pd.get_dummies(testy)

In [103]:
testy = testy.drop(columns= "red")

# Improve dataset

In [156]:
trainx

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
5747,6.4,0.630,0.21,1.60,0.080,12.0,32.0,0.99689,3.58,0.66,9.8,5
5865,8.5,0.660,0.20,2.10,0.097,23.0,113.0,0.99733,3.13,0.48,9.2,5
5586,7.7,0.660,0.04,1.60,0.039,4.0,9.0,0.99620,3.40,0.47,9.4,5
5200,8.3,0.705,0.12,2.60,0.092,12.0,28.0,0.99940,3.51,0.72,10.0,5
3894,5.9,0.435,0.16,6.40,0.031,21.0,134.0,0.99151,3.24,0.46,12.2,6
...,...,...,...,...,...,...,...,...,...,...,...,...
5098,9.6,0.320,0.47,1.40,0.056,9.0,24.0,0.99695,3.22,0.82,10.3,7
6336,7.0,0.590,0.00,1.70,0.052,3.0,8.0,0.99600,3.41,0.47,10.3,5
1823,7.3,0.190,0.24,6.30,0.054,34.0,231.0,0.99640,3.36,0.54,10.0,6
3221,6.6,0.240,0.38,12.75,0.034,8.0,74.0,0.99386,3.10,0.57,12.9,6
2208,7.1,0.260,0.30,2.00,0.031,13.0,128.0,0.99170,3.19,0.49,11.4,5

In [194]:
train_new = trainx.drop(columns= ["quality","fixed acidity","volatile acidity","free sulfur dioxide","total sulfur dioxide","sulphates","pH"])
train_new

      citric acid  residual sugar  chlorides  density  alcohol
5747         0.21            1.60      0.080  0.99689      9.8
5865         0.20            2.10      0.097  0.99733      9.2
5586         0.04            1.60      0.039  0.99620      9.4
5200         0.12            2.60      0.092  0.99940     10.0
3894         0.16            6.40      0.031  0.99151     12.2
...           ...             ...        ...      ...      ...
5098         0.47            1.40      0.056  0.99695     10.3
6336         0.00            1.70      0.052  0.99600     10.3
1823         0.24            6.30      0.054  0.99640     10.0
3221         0.38           12.75      0.034  0.99386     12.9
2208         0.30            2.00      0.031  0.99170     11.4

[2230 rows x 5 columns]

In [195]:
lgm2 = linear_model.LinearRegression()
lgm2.fit(train_new, trainy)

LinearRegression()

In [196]:
lgm2.score(train_new,trainy)

0.8134382661667037

In [197]:
lasso2 = linear_model.Lasso()
lasso2.fit(train_new, trainy)

Lasso()

In [198]:
lasso2.score(train_new,trainy)

0.0

In [199]:
logit = linear_model.LogisticRegression(solver="lbfgs")
logit.fit(trainx, trainy)

/Users/harryzhang/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/harryzhang/miniforge3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [200]:
logit.score(trainx,trainy)

0.9739910313901345

In [201]:
logit.score(testx,testy)

0.9696652719665272

## Improved model

In [146]:
lgm = linear_model.LinearRegression()
lgm.fit(trainx, trainy)

LinearRegression()

In [114]:
lgm.score(trainx,trainy)

0.8760760762535522

In [115]:
lgm.score(testx,testy)

0.8277617522992594

In [116]:
lasso = linear_model.Lasso()
lasso.fit(trainx, trainy)

Lasso()

In [118]:
lasso.score(testx,testy)

0.601621542879232

In [117]:

lasso.score(trainx,trainy)

0.5957458639497923

In [128]:
logit = linear_model.LogisticRegression(solver="lbfgs")
logit.fit(trainx, trainy)

/Users/harryzhang/miniforge3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/harryzhang/miniforge3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [129]:
logit.score(trainx,trainy)

0.9739910313901345

In [130]:
logit.score(testx,testy)

0.9696652719665272

# reference
1. https://blog.csdn.net/qq_31279347/article/details/82795405
1. https://blog.csdn.net/wanglingli95/article/details/78887771
3. https://datacarpentry.org/python-socialsci/11-joins/index.html
4. https://www.cnblogs.com/yanjy-onlyone/p/11288098.html
5. https://www.geeksforgeeks.org/how-to-convert-categorical-data-to-binary-data-in-python/
6. https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
7. https://scikit-learn.org/stable/glossary.html#term-random_state